

body {
    background: hsl(36, 100%, 99%);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin: 0 auto;
    width: 375px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 25px 0 20px 15px; 
}

.logo {
    width: 15%;
}

.hamburger {
    background: transparent;
    border: none;
    width: 35%;
    padding: 0;
    margin-left: 45px;
}

nav {
    display: none;
}

ul li {
    display: block;
    text-decoration: none;
}

ul li a {
    color: #1b1b1b;
    text-decoration: none;
}

main {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.bright-future {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px 0 45px 0;
}

.puzzle-pic {
    width: 90%;
}

h2 {
    font-size: 2.5rem;
    font-weight: 800;
    margin: 10px 0;
    padding: 5px 20px 0 20px;
}

.bright-future p {
    color: hsl(236, 13%, 42%);
    font-size: .90rem;
    line-height: 1.5rem;
    margin: 0;
    padding: 0 20px;
}

.bright-future button {
    background: hsl(5, 85%, 63%);
    border: none;
    color: hsl(36, 100%, 99%);
    font-size: .85rem;
    font-weight: 600;
    letter-spacing: 5px;
    margin-right: 150px;
    margin-top: 20px;
    padding: 15px;
    text-transform: uppercase;
    width: 50%;
}

aside {
    background: hsl(240, 100%, 5%);
    color: hsl(36, 100%, 99%);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 20px;
    padding: 0 0 25px 0;
}

h3 {
    color: hsl(35, 77%, 62%);
    font-size: 1.7rem;
    margin: 20px 20px;
}

h4 {
    font-size: 1.3rem;
    margin: 0 20px;
    padding: 10px 0;
    width: 100%;
}

aside p {
    color: hsl(233, 8%, 79%);
    font-size: .95rem;
    line-height: 1.7rem;
    margin: 0 20px;
}

hr {
    color: hsl(36, 100%, 99%);
    margin: 20px auto;
    width: 90%;
}

.article-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 20px 20px;
    width: 90%;
}

article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    width: 100%;
}

article img {
    width: 30%;
}

.article-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 65%;
    
}

.article-text h5 {
    color: hsl(233, 8%, 79%);
    font-size: 2rem;
    margin: 5px;
}

.article-text h6 {
    color: hsl(240, 100%, 5%);
    font-size: 1.1rem;
    margin: 5px;
}

.article-text p {
    color: hsl(236, 13%, 42%);
    font-size: .90rem;
    line-height: 1.5rem;
    margin: 5px;
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a {
     color: hsl(228, 45%, 44%); 
}