
body {
    background: hsl(36, 100%, 99%);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin: 0 auto;
    width: 375px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 25px 0 20px 15px; 
}

.logo {
    width: 15%;
}

.hamburger {
    background: transparent;
    border: none;
    width: 35%;
    padding: 0;
    margin-left: 45px;
    cursor: pointer;
}

.sidenav { 
    align-items: flex-start;
    background-color: hsl(36, 100%, 99%);
    display: flex;
    flex-flow: wrap;
    height: 100%;
    margin-top: 0;
    overflow-x: hidden;
    padding-left: 0;
    padding-top: 15px;
    position: fixed;
    right: 0;
    top: 0;
    transition: .5s;
    width: 0;
    z-index: 1;
}

ul {
    margin-top: 120px;
}

ul li {
    display: block;
    text-decoration: none;
    padding: 15px;
}

.closebtn {
    color: #292929;
    margin-left: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
}

ul li a {
    color: #1b1b1b;
    font-size: 1.3rem;
    text-decoration: none;
}

main {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.bright-future {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px 0 45px 0;
}

.puzzle-pic {
    width: 90%;
}

.puzzle-desktop {
    display: none;
}

h2 {
    font-size: 2.5rem;
    font-weight: 800;
    margin: 10px 0;
    padding: 5px 20px 0 20px;
}

.bright-future p {
    color: hsl(236, 13%, 42%);
    font-size: .90rem;
    line-height: 1.5rem;
    margin: 0;
    padding: 0 20px;
}

.bright-future button {
    background: hsl(5, 85%, 63%);
    border: none;
    color: hsl(36, 100%, 99%);
    font-size: .85rem;
    font-weight: 600;
    letter-spacing: 5px;
    margin-left: 20px;
    margin-right: 150px;
    margin-top: 20px;
    padding: 15px;
    text-transform: uppercase;
    width: 50%;
}

aside {
    background: hsl(240, 100%, 5%);
    color: hsl(36, 100%, 99%);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 20px;
    padding: 0 0 25px 0;
}

h3 {
    color: hsl(35, 77%, 62%);
    font-size: 1.7rem;
    margin: 20px 20px;
}

h4 {
    font-size: 1.3rem;
    margin: 0 20px;
    padding: 10px 0;
    width: 100%;
}

aside p {
    color: hsl(233, 8%, 79%);
    font-size: .95rem;
    line-height: 1.7rem;
    margin: 0 20px;
}

hr {
    color: hsl(36, 100%, 99%);
    margin: 20px auto;
    width: 90%;
}

.article-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 20px 20px;
    width: 90%;
}

article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    width: 100%;
}

article img {
    width: 30%;
}

.article-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 65%;
    
}

.article-text h5 {
    color: hsl(233, 8%, 79%);
    font-size: 2rem;
    margin: 5px;
}

.article-text h6 {
    color: hsl(240, 100%, 5%);
    font-size: 1.1rem;
    margin: 5px;
}

.article-text p {
    color: hsl(236, 13%, 42%);
    font-size: .90rem;
    line-height: 1.5rem;
    margin: 5px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a {
     color: hsl(228, 45%, 44%); 
}

@media only screen and (min-width:1200px) {
    body {
        width: 1440px;
    }

    header {
        align-items: flex-end;
        margin: 20px 75px 40px 75px;
        padding: 0;
        width: 90%;

    }

    .hamburger {
        display: none;
    }

    .closebtn {
        display: none;
    }

    .logo {
        width: 5%;
    }

    .sidenav {
        background: transparent;
        position: static;
        overflow: visible;     
        z-index: 0;  
        width: 40%;
    }

    .sidenav ul {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-top: 0;
        padding: 0 10px;
        width: 100%;
    }

    .sidenav ul li {
        padding: 0;
    }

    .sidenav ul li a {
        color: hsl(236, 13%, 42%);
        font-size: 1rem;
    }

    .sidenav ul li a:hover {
        color: hsl(35, 77%, 62%);
    }

    main {
        align-items: flex-start;
        justify-content: space-between;
        width: 90%;
    }

    .bright-future {
        justify-content: space-between;
        margin-bottom: 10px;
        width: 67%;
    }

    .puzzle-pic {
        display: none;
    }

    .puzzle-desktop {
        display: inline-block;
        width: 100%;
    }

    h2 {
        font-size: 4rem;
        line-height: 4rem;
        margin: 0;
        padding: 30px 0;
        width: 45%;
    }

    .bright-text {
        display: flex;
        flex-flow: wrap;
        padding: 30px 0;
        width: 45%;
    }

    .bright-future p {
        font-size: 1.1rem;
        line-height: 1.8rem;
        padding: 0;
        width: 100%
    }

    .bright-future button {
        margin-left: 0;
        margin-right: 190px;
        padding: 10px;
        width: 100%;
    }

    .bright-future button:hover {
        background-color: hsl(240, 100%, 5%);
    }

    aside {
        margin: 15px 0 15px 20px;
        padding-bottom: 40px;
        width: 30%;
    }

    h3 {
        font-size: 3rem;
        margin: 30px 20px;
    }

    h4:hover {
        color: hsl(35, 77%, 62%);
    }

    aside p {
        font-size: 1.1rem;
    }

    hr {
        margin: 30px auto;
    }

    .article-section {
        justify-content: space-between;
        margin: 20px 0;
        width: 100%;
    }

    article {
        width: 30%;
    }

    .article-text h5 {
        font-size: 2.5rem;
    }

    .article-text h6 {
        font-size: 1.2rem;
        width: 100%;
    }

    .article-text h6:hover {
        color: hsl(5, 85%, 63%);
    }

    .article-text p {
        font-size: 1rem;
    }

    .attribution {
        font-size: 14px;
    }
}